<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKaGRXUWlPaUl5TmpJMVlqUmtOalF4TVRBMU5HRTNOMkpsWW1SaU5qVXhOVGd4WldZMk5DSXNJbTVpWmlJNk1UWTBNakUzTURrek1pNHhNVEVzSW5OMVlpSTZJall4WlRFNFlUTTBaV1ZqTkdZek1EQXhZMkV6Wm1Fd01pSXNJbk5qYjNCbGN5STZXeUpoY0dsZmNtVmhaQ0pkTENKMlpYSnphVzl1SWpveGZRLkVsVS1naFF6VEktSFdwZzFHVVU0OGg1ZkI0U1RYakV0UWdXYi1IbEJwX1k=</string>
</dict>
</plist>
